.navigation {
  max-width: 1200px;
  padding: 10px 24px;
  margin: 0 auto;
  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    font-size: 24px;
    font-weight: 500;
  }
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.cart {
  display: flex;
  .cartLength {
    font-size: 12px;
  }
  :hover {
    transition: 0.12s ease-in;
    border-bottom: 1px solid #000000b8;
  }
}
